<!DOCTYPE html>

<html>
   <head>
      <title>Devonte Whitely Portfolio App</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <style>
     body {
       text-align: center;
     }
   </style>

   <body>
    <div class="container">
      <h1>Portfolio App</h1>
        <p><a href="/timestamp">Timestamp Microservice</a></p>
        <p><a href="/requestHeaderParser">Request Header Parser</a></p>
    </div>
  </body>
</html>
